body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  font-family: Helvetica Neue, Helvetica, sans-serif;
  background: rgb(23, 13, 71);
}

#logo,
#source-gif,
.section {
  display: none;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 110%;
}

#logo,
#logo-img {
  display: block;
  position: absolute;
  left: 10px;
  width: 75px;
  z-index: 10;
}

#logo > p {
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 10;
  font-size: 0.3em;
  width: 120px;
  color: white;
  font-family: 'Quicksand', sans-serif;
}

.section {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
  border-radius: 8px;
  background-color: lightyellow;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
  font-size: 1em;
  transition: opacity 1s, transform 1s;
  transform: scale(1.1);
  visibility: hidden;
}

.section h1 {
  text-align: center;
}

#section1 {
  z-index: 3;
  opacity: 1;
}

#section2 {
  z-index: 2;
}

#section3 {
  z-index: 1;
}

#section4 {
  z-index: 1;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #02042a7e;
  pointer-events: none;
  z-index: 1;
}

.visible {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: none;
}

.chevron {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  animation: moveAndFade 2s linear infinite;
  cursor: none;
}

@keyframes moveAndFade {
  0% {
    top: 50%;
    opacity: 1;
  }
  100% {
    top: 60%;
    opacity: 0;
  }
}

body {
  cursor: url("../img/scroll.gif"), auto;
}

.skew-menu {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 2%;
  text-align: center;
  margin-top: 1rem;
}

.skew-menu ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  transform: skew(-25deg);
}

.skew-menu ul li {
  background: #23dcd9;
  float: left;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: rgba(2, 22, 100, 0.616);
  font-weight: bolder;
  transition: all 0.3s linear;
}

.skew-menu ul li:first-child {
  border-radius: 7px 0 0 7px;
}

.skew-menu ul li:last-child {
  border-right: none;
  border-radius: 0 7px 7px 0;
}

.skew-menu ul li:hover {
  background: rgba(254, 254, 209, 0.582);
  color: rgb(23, 13, 71);
}

.skew-menu ul li a {
  display: block;
  padding: 1.2em 2.2em;
  color: inherit;
  text-decoration: none;
  transform: skew(25deg);
  font-size: 9px;
}

/* Other CSS rules */

@media (min-width: 15%) and (max-width: 85%) {
    body {
      cursor: url("../img/down.png"), auto;
    }
    
    .container .chevron {
      display: none;
    }
  }
  
  /* Default cursor style */
  .container .chevron img {
    cursor: default;
  }
  

